<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>test</title>
        <!--filpcountdown-->
        <link rel="stylesheet" type="text/css" href="/view/plugin/flipcountdown/jquery.flipcountdown.css" />
        <!--flipcountdown-->
        <script type="text/javascript" src="/view/plugin/flipcountdown/jquery.min.js"></script>
        <script type="text/javascript" src="/view/plugin/flipcountdown/jquery.flipcountdown.js"></script>
    </head>
    <body>
        <div id="retroclockbox1"></div>
        <script>
$(document).ready(function () {
    jQuery(function(){
        $('#retroclockbox1').flipcountdown();
    })
})
        </script>
    </body>
</html>
